@import url("https://fonts.googleapis.com/css?family=Poppins");
body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-attachment: fixed;
}
.pimg1{
    background-image: url('/images/pimg1.jpg');
    min-height: 100%;
}
.pimg2{
    background-image: url('/images/pimg2.jpg');
    min-height: 400px;
}
.pimg3{
    background-image: url('/images/pimg3.jpg');
    min-height: 400px;
}
.test{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    background-color: rgba(102, 102, 153, 0.5);
    padding: 10px;
}
/* is the grey card holding the project */
/* .project{
    margin: auto;
    width: 30%;
    height: 35%;
    background-color: #707070;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 4px;
    padding: 20px;
} */
/* image formatting stuff on the card :) */
/* .project img{
    margin: auto;
    height: 65%;
    width: 100%;
} */
/* is the text about the project */
/* .project p{
    height: 120px;
    background-color: #ffffff;
    padding: 10px;
} */
/* picture for the website card */
.website{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 4px;
}
/* social media icon */
.icons{
    max-width: 32px;
    border-style: none;
}
/* wrapping class for the social media links */
.logos{
    padding-top: 20px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
}
.contact-form{
    font-family: Poppins;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
}
input{
    font-family: Poppins;
}
textarea{
    margin-top: 10px;
    font-family: Poppins;
    width: 80%;
}
.btn{
    cursor: pointer;
    border-radius: 5px;
}
/* Container needed to position the overlay. Adjust the width as needed */
.project {
    margin: auto;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
}

/* When you mouse over the container, fade in the overlay icon*/
.project:hover .overlay {
    opacity: .8;
}


  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.icon a{
    color: white;
}
  
/* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
}
  