@charset "utf-8";
/* CSS Document */

		/* 
  Define this in your CSS 
  .ease-inTransition = Replace it by the name you want to give your transition
*/

.row {
	/*Add a property and value that you like to transition. Ex: width:200px;*/
	/* Chrome, Safari */
	-webkit-transition-property: background: white;/*property*/ ;
	-webkit-transition-duration: 1s;	/*Control the transition duration*/
	-webkit-transition-timing-function: ease-in;	/*Control the transitionfunction*/
	-webkit-transition-delay: 1s;	/*Control the transition start delay*/
	/* Firefox */
	-moz-transition-property:background: white; /*property*/ ;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease-in;
	-moz-transition-delay: 1s;
	/* Standard syntax */
	transition-property: background: white;/*property*/ ;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	transition-delay: 1s;
}

/*Pick the action to trigger the animation - Ex: hover */
.ease-inTransition:scroll {
	/*Set the final value for which you would like the property to transition to. Ex: width:500px;*/
	background: blue;
}

.bg { 
  /* The image used */
  background-image: url("/projects/tictaktoe/screenshot.png");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
	overflow: hidden;
  }
  
  .filterDiv {
	float: left;
	overflow: hidden;
	/* background-color: #2196F3; */
	/* color: #ffffff; */
	/* width: 300px;
	height: 180px; */
	/* text-align: center; */
	/* margin: 2px; */
	display: none; /* Hidden by default */
	/* background-color: #2196F3; */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
	display: block;
  }
  pre{
	  background-color: grey;
  }
  /* Style the buttons */
  .btnFil {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btnFil:hover {
	background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btnFil.active {
	background-color: #666;
	color: white;
  }